<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="RabbitMQ" type="RabbiteMQReceiver.RabbiteMQSection,RabbiteMQReceiver"/>
  </configSections>

  <RabbitMQ Uri="amqp://root:root@localhost:15672//">
    
    <Exchanges>
      <Exchange exchange="ex_test_1" type="direct" durable="true" autoDelete="true">
        <!--<Arguments>
        </Arguments>
        <Bind destination="" source="" routingKey="">
          <Arguments>
          </Arguments>
        </Bind>-->
      </Exchange>
      <Exchange exchange="ex_test_2" type="direct" durable="true" autoDelete="true">
        <!--<Arguments>
        </Arguments>
        <Bind destination="" source="" routingKey="">
          <Arguments>
          </Arguments>
        </Bind>-->
      </Exchange>
    </Exchanges>

    <Queues>
      <Queue queue="q_test_01" durable="true" exclusive="false" autoDelete="false">
        <!--<Arguments>
        </Arguments>
        <Bind queue="1111" exchange="1111" routingKey="1111">
          <Arguments>
          </Arguments>
        </Bind>-->
      </Queue>
      <Queue queue="q_test_01" durable="true" exclusive="false" autoDelete="false">
        <!--<Arguments>
        </Arguments>
        <Bind queue="" exchange="" routingKey="">
          <Arguments>
          </Arguments>
        </Bind>-->
      </Queue>
    </Queues>

  </RabbitMQ>

  <appSettings>
    <add key="" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>