<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="MSSQL2008R2" connectionString="Data Source = LEE;Pooling=true;Initial Catalog = test;User Id = sa;Password = @LiBo#8923052;" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>