<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="info"
            fileName="${basedir}/info/${date:format=yyyy-MM-dd-HH}.txt"
            layout ="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target xsi:type="File"
            name="error"
            fileName="${basedir}/error/${date:format=yyyy-MM-dd-HH}.txt"
            layout ="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target name="logconsole" xsi:type="Console" />
    <target name="ds" xsi:type="OutputDebugString"/>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Error" writeTo="error" />
  </rules>
</nlog>